[package]
name = "safecoin-program-runtime"
version = "1.10.32"
description = "Safecoin program runtime"
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
repository = "https://github.com/fair-exchange/safecoin"
license = "Apache-2.0"
homepage = "https://safecoin.org/"
documentation = "https://docs.rs/safecoin-program-runtime"
edition = "2021"

[dependencies]
base64 = "0.13"
bincode = "1.3.3"
itertools =  "0.10.1"
libc = "0.2.101"
libloading = "0.7.0"
log = "0.4.14"
num-derive = { version = "0.3" }
num-traits = { version = "0.2" }
serde = { version = "1.0.129", features = ["derive", "rc"] }
safecoin-frozen-abi = { path = "../frozen-abi", version = "=1.10.32" }
safecoin-frozen-abi-macro = { path = "../frozen-abi/macro", version = "=1.10.32" }
safecoin-measure = { path = "../measure", version = "=1.10.32" }
safecoin-sdk = { path = "../sdk", version = "=1.10.32" }
thiserror = "1.0"
enum-iterator = "0.7.0"

[dev-dependencies]
safecoin-logger = { path = "../logger", version = "=1.10.32" }

[lib]
crate-type = ["lib"]
name = "safecoin_program_runtime"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
rustc_version = "0.4"
