[package]
name = "safecoin-metrics"
version = "1.6.18"
description = "Safecoin Metrics"
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
repository = "https://github.com/fair-exchange/safecoin"
license = "Apache-2.0"
homepage = "https://safecoin.org/"
documentation = "https://docs.rs/safecoin-metrics"
edition = "2018"

[dependencies]
env_logger = "0.8.3"
gethostname = "0.2.1"
lazy_static = "1.4.0"
log = "0.4.11"
reqwest = { version = "0.11.2", default-features = false, features = ["blocking", "rustls-tls", "json"] }
safecoin-sdk = { path = "../sdk", version = ">=1.6.18" }

[dev-dependencies]
rand = "0.7.0"
serial_test = "0.4.0"

[lib]
name = "solana_metrics"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
